* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #95A5A6;
	}

a {
	text-decoration: none;

}

.header {
	width: 100%;
	height: 50px;
	background-color: #2c3e50;
	margin: 0 auto;
	top: 0px;
	position: fixed;
  	z-index: 1;
	overflow-x: hidden;
  	left: 0;
}

.logo {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

.logo a{
	font-size: 1.3em;
	color: #FFF;
}

.logo a span{
	font-weight: 800;
}

.color: #FFF;
}

.container {
	width: 100%;
	margin: 0 auto;
	
}

.sidebar {
	width: 250px;
	position: fixed;
  	z-index: 1;
  	top: 50px;
  	left: 0;
	height: 100%;
	overflow-x: hidden;
	background-color: #171717;
	float: left;
}


.content {
	width: auto;
	margin-left: 250px;
	height: auto;
	margin-top: 50px;
	background-color: #95A5A6;
	padding: 15px;
}

.content-recovery {
	width: auto;
	height: auto;
	margin-top: 50px;
	background-color: #95A5A6;
	padding: 15px;
}

ul#nav {
    width: 100%;
    overflow: hidden;
    list-style: none;
}

ul#nav li {
	list-style: none;
}


ul#nav li a{
	color: #CCC;
	display: block;
	padding: 10px;
	font-size: 0.8em;
	border-bottom: 1px solid #0A0A0A;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	
}
ul#nav li a i{
	padding-right: 5px;
}

ul#nav a:hover {
	background-color: #030303;
	color: #FFF;
	padding-left: 30px;
}

ul#nav a.selected {
	background-color: #030303;
	color: #FFF;
}

.content p {
	color: #424242;
	font-size: 0.73em;
}

div#box {
	margin-top: 15px;
	float: left;
	width: 100%;
}
div#box .box-top {
	color: #FFF;
	text-shadow: 0px 1px #ddd;
	background-color: #2980b9;
	padding: 5px;
	font-weight: 300;
}

div#box .box-panel {
	padding: 15px;
	background-color: #FFF;
	text-align: justify;

}





.color-1 {
	background-color: #2980b9;
}
.color-2 {
	background-color: #D35656;
}
.color-3 {
	background-color: #3c9d9b;
}

.color-4 {
	background-color: #2c3e50;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  margin-top: 10px;
  border-radius: 5px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}



.box-login {
	margin: 150px auto;
	width: 400px;
	background-color: #FFF;
	border-radius: 3px;
	

}
.box-login .login-header {
	text-align: center;
	font-size: 1.7em;
	padding-top: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #000;
	font-weight: bold;
	padding-bottom: 15px;	
}

.box-login .login-form {
	width: 100%;
}
.box-login .login-form input {
	float: left;
	width: 95%;
	height: 35px;
	padding-left: 4px;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 7px;
	margin-top: 10px;
}

.box-login .login-form .button {

	background-color: #2c3e50;
	border: 0;
	color: #FFF;
	text-align: center;
	cursor: pointer;

}
.fix { clear: both; padding-bottom: 20px;}
.box-login .login-form .button:hover {
	color: #000;
	background-color: #eee;
}

.login-form p {
	margin-left: 10px;
}
.button-add {
	margin-top: 5px;
	margin-bottom: 20px;
}
.button-add a {
 	padding: 11px;
 	color: #FFF;
 	transition: 0.7s;
 	background-color: #2980b9;
}
.button-add a:hover {
	color: #000;
	border-radius: 10px;
	transition: 0.7s;

}

.edit { color: #fb9224; }
.delete { color: #b22222; }
.tampil { color: #2980b9;  }


.edit:hover{ color: #000; }
.delete:hover { color: #000; }
.tampil:hover { color: #000; }


.form_input { 
	width: 100%;
	background-color: #FFF;
	margin-top: -10px;
}

.form_input .header_input {
	color: #FFF;
	text-shadow: 0px 1px #ddd;
	background-color: #2980b9;
	padding: 5px 10px;
	font-weight: 300;
}


.box-input{ 
	width: 100%;
	padding: 10px;
}

.box-data{ 
	width: 100%;
	padding: 10px;
}
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 0.9em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;

}

.inputjadwal {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 0.9em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;

}


.submit {
	width: 100%;
	padding: 12px 20px;
	margin: 20px 0;
	border: 0;
	background-color: #2980b9;
	color: #FFF;
	font-size: 1em;
	cursor: pointer;
	border-radius:  4px;
}

.submit:hover {
	background-color: #4CAF50;
}

.danger {
	width: 100%;
	background-color: #D35656;
	color: #FFF;
	padding: 10px;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: -4px;
}

.label {
	float: left;
	margin-left: 10px;
}

.tabel-data {
	border-collapse: collapse;
	width: 100%;

}

.tabel-data tr{
	border-bottom: 1px solid black;

}

.tabel-data tr th{
	text-align: center;
	border: 1px solid grey;
	padding: 10px;


}
.tabel-data tr td{
	border: 1px solid grey;
	padding: 10px;

}

.tabel-data-banyak {
	border-collapse: collapse;
	width: 100%;
}

.tabel-data-banyak tr{
	border-bottom: 1px solid black;

}
.tabel-data-banyak tr th{
	text-align: center;
	border: 1px solid grey;
	padding: 10px;


}
.tabel-data-banyak tr td{
	border: 1px solid grey;
	padding: 10px;

}
.center {
	text-align: center;
}

.btn-simpan {
	border : 0;
	border-radius: 5px;
	font-size: 1.0em;
	cursor: pointer;
	background-color: #2980b9;
	color: #FFF;
	padding: 15px;
	margin-bottom: 15px;
}


.btn-tambah {
	width: 248px;
	height: 30px;
	color: #fff;
	font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	letter-spacing: 1px;
	text-align: center;
	border: 1px solid #00CED1;
	margin-top:;
	margin-bottom:10px;
	outline: none;
	cursor: pointer;
	position: relative;
	background-color: #2c3e50;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2c3e50), to(#95A5A6));
	behavior: url(PIE.htc);
}
.btn-simpan:hover {
	background-color: #4CAF50;
}



/*tampilan mobile*/

@media screen and (max-width:550px) {
  .sidebar{
  	width: 25%;
  }
  .content{
  	width: 80%;
  	margin-left: 90px;
  	margin-top: 40px;
  }

  .content-recovery{
  	width: 100%;
  	margin-top: 20px;
  }

  .form_input{
  	margin-top: 30px;
  }
   .box-login{
  	width: 80%;
  }

  .btn-tambah{
  	width: 90%;
  }

  .inputjadwal{
  	width: 100%;
  }


  .tabel-data th {
    display: none;
  }

  .tabel-data tr {
    border-bottom: 3px solid blue;
    display: block;
    margin-bottom: .725em;
  }
  .tabel-data td {
    border-bottom: 1px solid blue;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .tabel-data td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tabel-data td:last-child {
    border-bottom: 0;
  }

  .tabel-data-banyak th {
    display: none;
  }

  .tabel-data-banyak tr {
    border-bottom: 3px solid blue;
    display: block;
    margin-bottom: .725em;
  }
  .tabel-data-banyak td {
    border-bottom: 1px solid blue;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .tabel-data-banyak td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tabel-data-banyak td:last-child {
    border-bottom: 0;
  }

}





